---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
const { contact } = Astro.props;
---

{
  contact.data.enable && (
    <section class="section-sm" id="contact">
      <div class="container">
        <div class="px-0 py-10 border-b">
            <h3
                set:html={markdownify(contact.data.tagline)}
                class="mb-10 text-sm text-primary font-semibold uppercase"
            />
          <div class="flex flex-col lg:flex-row gap-16 lg:justify-between">
            <div class="">
                <h2
                    set:html={markdownify(contact.data.title)}
                    class="mb-6 text-4xl"
                />
                <p set:html={markdownify(contact.data.description)}
                    class="mb-6" />
                {contact.data.button.enable && (
                    <a
                    class="btn btn-primary"
                    href={contact.data.button.link}
                    >
                    {contact.data.button.label}
                    </a>
              )}
              <div class="flex gap-10 mt-14 flex-col lg:flex-row">
                <div class="flex gap-4 items-center">
                    <div class="mb-8">
                        <p class="mb-2 text-sm font-normal">E-Mail</p>
                        <p
                            set:html={markdownify(contact.data.email)}
                            class="mb-0 text-left text-primary text-2xl"
                        />
                    </div>
                </div>
                <div class="flex gap-4 items-center">
                    <div class="mb-8">
                        <p class="mb-2 text-sm font-normal">Telefonnummer</p>
                        <p
                            set:html={markdownify(contact.data.phone)}
                            class="mb-0 text-left text-primary text-2xl"
                        />
                    </div>
                </div>
              </div>
            </div>
            <div class="">
                <div class="mb-8">
                    <p class="mb-2 text-left text-sm font-normal">Anschrift</p>
                    <p
                        set:html={markdownify(contact.data.adress)}
                        class="mb-2 text-left text-sm"
                    />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.064614465541!2d9.743160076679287!3d52.36924837202205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b074b461c63d3b%3A0xe1006f9831891deb!2sMarienstra%C3%9Fe%209-11%2C%2030171%20Hannover!5e0!3m2!1sde!2sde!4v1727967078643!5m2!1sde!2sde" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                {/* <div class="mb-8">
                    <p class="mb-2 text-sm font-normal">E-Mail</p>
                    <p
                        set:html={markdownify(contact.data.email)}
                        class="mb-0 text-left text-primary text-2xl"
                    />
                </div>
                <div>
                    <p class="mb-2 text-sm font-normal">Telefonnummer</p>
                    <p
                        set:html={markdownify(contact.data.phone)}
                        class="mb-0 text-left text-primary text-2xl"
                    />  
                </div> */}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
